body {
    background-color: rgb(244, 241, 247);
    margin: 0px;

} 

.header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100vw;   
}

h1 {
    margin: 0;
    padding: 12px;
}


.container,
.book-card {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.book-card,
.summary-card {
    border: 1px solid black;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.summary-card {
    justify-content: center;
}

.book-property {
    text-align: center;
}

.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.6);
}

.overlay.open {
    display:flex;
    justify-content: center;
    align-items: center;
}

.add-book-form {
    width: 40vw;
    height: 30vh;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.close-button {
    align-self: end;
    padding: 4px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 2rem;
}

.rating input{
    display: none;
}

.rating input:checked ~ label:before {
    content: '★';

}

.rating label {
    display: block;
    width: 30px;
}

.rating label:before {
    content: '☆';
    position: relative;
    display: block;
}